<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>Log</servlet-name>
    <servlet-class>admin.testlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adduser</servlet-name>
    <servlet-class>admin.insertuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adduser</servlet-name>
    <url-pattern>/adduser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xoauser</servlet-name>
    <servlet-class>admin.removeuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xoauser</servlet-name>
    <url-pattern>/removeuser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upuser</servlet-name>
    <servlet-class>admin.updateuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upuser</servlet-name>
    <url-pattern>/suauser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>admin.testlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addmc</servlet-name>
    <servlet-class>minhchung.createMC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addmc</servlet-name>
    <url-pattern>/addmc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loadfile</servlet-name>
    <servlet-class>minhchung.loadfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadfile</servlet-name>
    <url-pattern>/loadfile.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>t</servlet-name>
    <servlet-class>minhchung.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t</servlet-name>
    <url-pattern>/test.do</url-pattern>
  </servlet-mapping>
</web-app>